# Database (docker-compose)
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Used by ApiRestaurante container and by local pytest runs.
# In docker-compose, use host=postgres_db.
DATABASE_URL=

# S3 variables for image upload (optional)
S3_BUCKET_NAME=
S3_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

#Worker pool
IMAGE_WORKERS=
IMAGE_QUEUE_MAXSIZE=
IMAGE_QUEUE_PUT_TIMEOUT_SEC=